body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



nav, .page-footer{
  background-color: #FF8000;
}

button{
  border-radius: 5px;
  margin:5px;
  background-color: #007FFF;
}

#addButton{
  background-color: #FF00FF;
}

img{height: 40px;}

#title{
  color: #00FF00;
}

